*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background-color: rgb(38, 38, 56);
    display: flex;
    justify-content: space-around;
}
.logoUm{
    width: 8%;
    height: 5%;
    padding-top: 12px;
}
.cabecalho-lista{
    display: inline-flex;
    list-style: none;
    margin: 23px;
}
.cabecalho-pesquisa{
    margin-right: 23px;
}
.cabecalho-slogan{
    color: white;
    font-size: 19px;
    margin-right: 167px;
    margin-top: 14px;
}
.search{
    width: 569px;
    height: 35px;
    border: none;
    border-radius: 5px;

}
.botaoPesquisar{
    color: white;
    background-color: rgb(230, 184, 78);
    height: 35px;
    border: none;
    border-radius: 5px;
}
.cabecalho-botao{
    margin-left: 156px;
}
.login{
    font-size: 17px;
    color: black;
    background-color: rgb(230, 184, 78);
    border: 0px;
    border-radius: 15px;
    height: 39px;
}

/* fim do header inicio do site */

.guia{
    background-color: rgb(49, 49, 62);
    display: flex;
}
.guia-lista{
    display: inline-flex;
    list-style: none;
}
.buttonGuia{
    color: white;
    background-color: rgb(49, 49, 62);
    border: none;
    font-size: 14px;
    margin: 9px;
    margin-right: 4px;
}

.buttonGuia:hover{
    border: 78px;
    border-color: white;
    color: darkgrey;
}

/* fim do guia */

/* incio do slide show*/
.slideshow-container {
    position: relative;
    margin: 0 auto;
    margin-top: 45px;
    width: 1600px;
    height: 400px;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 1600px;
    height: 400px;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0) ;
    
    
    color: rgb(230, 184, 78);
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

/* inicio do conteudo do site*/
.h1{
    text-align: center;
    font-size: 34px;
    padding: 34px;
}
.produtos{
    background-color: white;
    display: flex;
    margin: 45px;
}
.produto{
    display: inline-flex;
    margin: 45px;
}
.imgProdutos{
    width: 25%;
}
.produtosList{
    list-style: none;
    margin: 34px;
    font-size: 20px;
}
.valor{
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
    padding-bottom: 23px;
}
.Estoque{
    padding-bottom: 23px;
}
.disp{
    color: green;
    font: normal;
}
.Descrição{
    padding-top: 150px;
}
.rodape{
    background-color: rgb(38, 38, 56);
    text-align: center;

}
.logoDois{
    width: 9%;
    padding: 2%;
}
.rodape-lista{
    color: white;
    display: inline-flex;
    margin-bottom: 2%;
    list-style: none;
}
.cat{
    padding-right: 12px;
}
.cat:hover{
    color: darkgoldenrod;
}
.Email{
    padding-right: 12px;
}
.Email:hover{
    color: darkgoldenrod;
}
.redes{
    padding-right: 12px;
}
.redes:hover{
    color: darkgoldenrod;
}
.Empregos:hover{
    color: darkgoldenrod;
}